

/*navbar*/
.navbar {
    background-color: black;
}

.nav-link {
    color: white;
}

    .nav-link:hover {
        color: dimgray;
    }

#menubtn {
    width: 50px;
    height: 50px;
    background: #000000;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 10px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

    #menubtn img {
        width: 20px;
        margin-top: 15px;
    }

    #menubtn:hover {
        opacity: 50%;
    }

#sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    margin-top: 50px;
    right: -250px;
    top: 0;
    background: #000000;
    z-index: 2;
    transition: 0.5s;
    opacity: 90%;
}

    /*side navbar*/
    #sideNav nav ul li {
        list-style: none;
        margin: 50px 20px;
    }

        #sideNav nav ul li a {
            text-decoration: none;
            color: #fff;
        }


            #sideNav nav ul li a:hover {
                color: dimgray;
            }

.btnsort {
    background-color: black;
    color: white !important;
}

/*title*/
.title-text {
    text-align: center;
    padding-bottom: 70px;
    margin-top: 110px;
}
/*control*/
#Customer_info {
    font-size: 20px;
    font-weight: bold;
    margin-left:50px;

}
/*table*/
tr {
    font-size: 18px;
    text-align: center;
    vertical-align: middle !important;
}

td {
    font-size: 18px;
    vertical-align: middle !important;
}
tr img {
    width: 110px;
    height: 110px;
    border-radius: 10px;
}

.fa-clock {
    color: gold;
    font-size: 22px;
}

#action button {
    box-shadow: none;
}

    #action button:hover {
        opacity: 50%;
    }

.fa-shipping-fast {
    color: forestgreen;
    font-size: 22px;
}

.fa-thumbs-down {
    color: crimson;
    font-size: 22px;
}

#action button {
    box-shadow: none;
}

    #action button:hover {
        opacity: 50%;
    }

.fa-edit, .fa-trash, .fa-check-circle {
    font-size: 22px;
}

/**/
#control_order{
    text-align:center;
    margin-bottom:70px;
}

#control_order .btn {
font-size:22px;
}
#total {
    font-size: 22px;
    text-align: right;
    margin-right: 90px;
    color: green;
    font-weight: bold;
}
.btn {
    color: white !important;
    box-shadow: none;
}